.header {
  background-color: #F553B7;
  position: absolute;
  width: 1280px;
  height: 120px;
}

.header img {
  position: absolute;
  top: 18px;
  left: 25px;
}

.nav ul {
  color: #CDF0F1;
  list-style-type: none;
  position: absolute;
  right: 130px;
  top: 50px;
  font-size: 1.5em;
}

.nav li {
  display: inline;
  padding: 7px;
  font-family: sans-serif;
  font-weight: 100;
  font-stretch: ultra-expanded;
}

.mainBody {
  position: absolute;
  width: 1280px;
}

.mainHeader {
  position: absolute;
  left: 130px;
  top: 50px;
  width: 400px;
}

.mainSubheader {
  position: absolute;
  right: 130px;
  top: 100px;
  width: 400px;
}

.mainHeader h1 {
  color: #03A0BF;
  font-family: sans-serif;
  font-weight: 100;
  font-stretch: ultra-expanded;
}

.mainHeader .pHeader {
  color: gray;
  word-wrap: normal;
}
